body {
  background: #1abc9c;
}

.board {
  background: #1abc9c;
  color: #fff;

  .deck {
    border: #fff 1px solid;
    background: #fff;
    border-radius: 5px;
    color: #2c3e50;

    h2.deck-name {
      margin-left: 10px;

      input {
        width: 97%;
      }
    }

    .card {
      margin: 0px 5px;
      margin-bottom: 5px;
      padding: 10px;
      border-radius: 5px;
      background: #1abc9c;
      color: #fff;

      input {
        background: #1abc9c;
        color: #fff;
        border: none;
        width: 100%;
        padding: 10px;
      }
    }

    a.add-card-link {
      margin: 5px 10px;
      display: inline-block;
    }
  }

  a.add-deck-link {
    background: #16a085;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    display: block;
  }
}
